# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\VSE_KURSY\MOSH_JAVA\Java_3_7_unpacked\code\Ultimate Java- Part 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
